<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rank.dao.PaperMapper">

  <sql id="requestAllFields">
        <![CDATA[
            id,
            title,
            createdtime,
            updatedtime,
            content,
            userId,
            read_num as readNum,
            state

        ]]>
    </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_ranklist
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="getRankBySortType" resultType="com.example.rank.model.rank" parameterType="java.lang.String" >
    SELECT
    <include refid="requestAllFields"/>
    FROM
    tb_ranklist
    order by
    ${sortType} DEC

  </select>
  <select id="getPapers" resultType="com.example.rank.model.Paper">
    SELECT
    <include refid="requestAllFields"/>
    FROM
    tb_paper

  </select>
  <update id="updateHeat" parameterType="java.lang.Integer">
    UPDATE
    tb_ranklist
    SET
    heat=#{heat}
    WHERE id#{id}
  </update>
  <select id="getPapersByCon" resultType="com.example.rank.model.Paper">
    SELECT
    <include refid="requestAllFields"/>
    FROM
    tb_paper
    <where>
      <if test="id != null and id != ''">
        AND id=#{id}
      </if>
    <if test="userId != null and userId != ''">
      AND userId=#{userId}
    </if>
    <if test="title != null and title != ''">
      AND title LIKE concat('%',#{title},'%')
    </if>
    <if test="state != null and state != ''">
      AND state=#{state}
    </if>
    <if test="createTimeOne !=null  and createTimeTwo !=null">
      AND createdtime between #{createTimeOne} and #{createTimeTwo}

    </if>
      <if test="updatedTimeOne !=null  and updatedTimeTwo !=null">
        AND updatedtime between #{updatedTimeOne} and #{updatedTimeTwo}

      </if>
    </where>
  </select>




  <insert id="add" useGeneratedKeys="true" parameterType="com.example.rank.param.AddPaperParam" keyProperty="id">
    INSERT INTO tb_paper

    <trim prefix="(" suffix=")" prefixOverrides=",">
      <if test="null!=title and ''!=title">,title</if>
      <if test="null!=createdtime">,createdtime</if>
      <if test="null!=updatedtime">,updatedtime</if>
      <if test="null!=content and ''!=content">,content</if>
      <if test="null!=userid">,userid</if>
      <if test="null!=readNum ">,read_num</if>
      <if test="null!=state" >,state</if>

    </trim>
    VALUES
    <trim prefix="(" suffix=")" prefixOverrides=",">
      <if test="null!=title and ''!=title">,#{title}</if>
      <if test="null!=createdtime">,#{createdtime}</if>
      <if test="null!=updatedtime">,#{updatedtime}</if>
      <if test="null!=content and ''!=content">,#{content}</if>
      <if test="null!=userid">,#{userid}</if>
      <if test="null!=readNum ">,#{readNum}</if>
      <if test="null!=state" >,#{state}</if>

    </trim>

  </insert>
</mapper>