<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rank.dao.PaperTypeMapper">

  <sql id="requestAllFields">
        <![CDATA[
            id,
           name,

        ]]>
    </sql>

  <select id="getPaperTypes" resultType="com.example.rank.model.PaperType">
    SELECT
    <include refid="requestAllFields"/>
    FROM
    tb_paper_type

  </select>
  <update id="updateHeat" parameterType="java.lang.Integer">
    UPDATE
    tb_paper_type
    SET
    name=#{name}
    WHERE id#{id}
  </update>




  <insert id="add" useGeneratedKeys="true" parameterType="com.example.rank.param.AddPaperTypeParam" keyProperty="id">
    INSERT INTO tb_paper_type

    <trim prefix="(" suffix=")" prefixOverrides=",">
      <if test="null!=name and ''!=name">,name</if>

    </trim>
    VALUES
    <trim prefix="(" suffix=")" prefixOverrides=",">
      <if test="null!=name and ''!=name">,#{name}</if>

    </trim>

  </insert>
</mapper>