<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rank.dao.PaperMapper">

  <sql id="requestAllFields">
        <![CDATA[
            id,
            title,
            createdtime,
            updatedtime,
            content,
            userId,
            read_num as readNum,
            state

        ]]>
    </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_ranklist
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="getRankBySortType" resultType="com.example.rank.model.rank" parameterType="java.lang.String" >
    SELECT
    <include refid="requestAllFields"/>
    FROM
    tb_ranklist
    order by
    ${sortType} DEC

  </select>
  <select id="getPapers" resultType="com.example.rank.model.Paper">
    SELECT
    <include refid="requestAllFields"/>
    FROM
    tb_paper

  </select>
  <update id="updateHeat" parameterType="java.lang.Integer">
    UPDATE
    tb_ranklist
    SET
    heat=#{heat}
    WHERE id#{id}
  </update>
  <select id="getPapersByCon" resultType="com.example.rank.model.Paper">
    SELECT
    <include refid="requestAllFields"/>
    FROM
    tb_paper
    <where>
    <if test="userId != null and userId != ''">
      AND userId LIKE concat('%',#{userId},'%')
    </if>
    <if test="title != null and title != ''">
      AND title LIKE concat('%',#{title},'%')
    </if>
    <if test="state != null and state != ''">
      AND state=#{state}
    </if>
    </where>
  </select>
</mapper>