<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rank.dao.UserMapper">

  <sql id="requestAllFields">
        <![CDATA[
            id,
            name,
            type,
            iphone,
            password

        ]]>
    </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_ranklist
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <select id="getRankBySortType" resultType="com.example.rank.model.rank" parameterType="java.lang.String" >
    SELECT
    <include refid="requestAllFields"/>
    FROM
    tb_ranklist
    order by
    ${sortType} DEC

  </select>
  <select id="getPapers" resultType="com.example.rank.model.Paper">
    SELECT
    <include refid="requestAllFields"/>
    FROM
    tb_paper

  </select>
  <update id="updateHeat" parameterType="java.lang.Integer">
    UPDATE
    tb_ranklist
    SET
    heat=#{heat}
    WHERE id#{id}
  </update>
  <select id="getPapersByCon" resultType="com.example.rank.model.Paper">
    SELECT
    <include refid="requestAllFields"/>
    FROM
    tb_paper
    <where>
      <if test="userId != null and userId != ''">
        AND userId LIKE concat('%',#{userId},'%')
      </if>
      <if test="title != null and title != ''">
        AND title LIKE concat('%',#{title},'%')
      </if>
      <if test="state != null and state != ''">
        AND state=#{state}
      </if>
      <if test="createTimeOne !=null  and createTimeTwo !=null">
        AND createdtime between #{createTimeOne} and #{createTimeTwo}

      </if>
      <if test="updatedTimeOne !=null  and updatedTimeTwo !=null">
        AND updatedtime between #{updatedTimeOne} and #{updatedTimeTwo}

      </if>
    </where>
  </select>
  <select id="login" resultType="com.example.rank.model.User">
    select
    <include refid="requestAllFields" />
    from tb_user
    <where>
      iphone=#{phone}
      and
      password=#{password}
    </where>
  </select>

</mapper>